Web-Applications-course/Assignments/Tarea 2/cgi-bin/* linguist-vendored
Web-Applications-course/Assignments/Tarea 3/cgi-bin/* linguist-vendored
Web-Applications-course/Excercises/Ejercicio 3/cgi-bin/* linguist-vendored
Web-Applications-course/Excercises/Ejercicio 4/cgi-bin/* linguist-vendored
Web-Applications-course/Excercises/Ejercicio 5/cgi-bin/* linguist-vendored
