Assignments/T2/cgi-bin/* linguist-vendored
Assignments/T3/cgi-bin/* linguist-vendored
Excercises/E3/cgi-bin/* linguist-vendored
Excercises/E4/cgi-bin/* linguist-vendored
Excercises/E5/cgi-bin/* linguist-vendored
